<div class="checkout">
    <div class="grid mt-5">
        <div class="lg:col-8 lg:col-offset-2 col-10 col-offset-1 mt-6">
            <div class="grid lg:mt-6">
                <div class="col-12 flex justify-content-center lg:mt-6 lg:mb-6">
                    <p-button icon="pi pi-check" styleClass="p-button-rounded p-button-success"></p-button>
                </div>
                <div class="col-12 flex justify-content-center lg:mb-6">
                    <h1 class="heading">Thank you for your order!</h1>
                </div>
                <div class="col-12 flex justify-content-center mb-6">
                    <button class="outlined-button outlined-button-dark flex align-items-center" [routerLink]="'/home'">
                        <b>Navigate to Home page</b>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>