<div class="footer-bar">
    <div class="grid ">
        <div class="col-8 col-offset-2 ">
            <hr class="p-menuitem-separator">
            <div class="grid mt-6">
                <div class="col-4">
                    <div class="grid">
                        <div class="col-2">
                            <img src="https://anbetechsolutions.com/assets/img/brand/favicon.png" height="40"
                                class="mr-4" />
                        </div>
                        <div class="col-6 flex align-items-center">
                            <label for="" class="heading"><b>Anbe Tech</b></label>
                        </div>
                        <div class="col-12">
                            <label for="" class="normal-text text-justify">Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit. Ipsum ea que dolores
                                voluptatum quod, mollitia architecto incidunt eum, dict a, provident autem simi lique.
                                Vel
                                quia adipisci iure voluptatem eve niet nam asperiores eaque.</label>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="grid">
                        <div class="col-12">
                            <label for="" class="heading"><b>Categories</b></label>
                        </div>
                        <div class="col-12">
                            <ul class="list-none">

                                <li class="list-text mt-2">Mobile</li>
                                <li class="list-text mt-2">Laptop</li>
                                <li class="list-text mt-2">Desktop</li>
                                <li class="list-text mt-2">Accessories</li>
                                <li class="list-text mt-2">Others</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="grid">
                        <div class="col-12">
                            <label for="" class="heading"><b>About Us</b></label>
                        </div>
                        <div class="col-12">
                            <ul class="list-none">

                                <li class="list-text mt-2">Location</li>
                                <li class="list-text mt-2">Careers</li>
                                <li class="list-text mt-2">Press</li>
                                <li class="list-text mt-2">Ideas</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="grid">
                        <div class="col-12">
                            <label for="" class="heading"><b>Help</b></label>
                        </div>
                        <div class="col-12">
                            <ul class="list-none">
                                <li class="list-text mt-2">Contact Us</li>
                                <li class="list-text mt-2">Feedback</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="p-menuitem-separator mt-4">
            <div class="grid mt-4">
                <div class="col-2">
                    <div class="p-inputgroup">
                        <span><i class="pi pi-user primary-text"></i></span>
                        <label for="" class="norma-text primary-text">&nbsp;&nbsp;<b>Gift Cards</b></label>
                    </div>
                </div>
                <div class="col-2">
                    <div class="p-inputgroup">
                        <span><i class="pi pi-question-circle primary-text"></i></span>
                        <label for="" class="norma-text primary-text">&nbsp;&nbsp;<b>Help Center</b></label>
                    </div>
                </div>
                <div class="col-2">
                    <label for="" class="norma-text primary-text">&nbsp;&nbsp;<b>Terms of Service</b></label>
                </div>
                <div class="col-2">
                    <label for="" class="norma-text primary-text">&nbsp;&nbsp;<b>Privacy & Policy</b></label>
                </div>
                <div class="col-4">
                    <label for="" class="norma-text primary-text">&nbsp;&nbsp;<b>All Right reserved by Saugat | 2023</b></label>
                </div>
            </div>
        </div>


    </div>
</div>