<div class="details">
    <div class="grid mt-5">
        <div class="lg:col-8 lg:col-offset-2 col-10 col-offset-1">
            <div class="grid">
                <!-- product images -->
                <div class="lg:col-6 col-12">
                    <div class="grid">
                        <div class="lg:col-12 col-10 mb-6 flex justify-content-center">
                            <img src="{{displayImage}}" alt="" class="product-detail-main-image">
                        </div>
                        <div class="col-3" *ngFor="let img of data.images ; let i = index;let first = first"
                            [hidden]="first">
                            <img *ngIf="!first" src="{{img}}" alt="" class="product-detail-thumb-image"
                                (click)="changeDisplayImage(i)">
                        </div>
                    </div>
                </div>
                <!-- product details  -->
                <div class="lg:col-4 col-12 lg:col-offset-1">
                    <div class="grid">
                        <div class="col-12">
                            <h2 class="product-detail-name mb-0">{{data.title}}</h2>
                        </div>
                        <div class="col-12 mb-4">
                            <label for="" class="normal-text">{{data.brand}}</label>
                        </div>
                        <div class="col-12">
                            <label for="" class="normal-text">{{data.description}}</label>
                        </div>
                        <div class="col-12">
                            <p-rating [(ngModel)]="data.rating" [cancel]="false"></p-rating>

                        </div>
                        <div class="col-12 pb-6" style="border-bottom: 1px solid grey;">
                            <label for="" class="sub-text">{{data.stock}} in stock</label>

                        </div>
                        <div class="col-12 pb-4 flex align-items-center" style="border-bottom: 1px solid grey;">
                            <h4 class="m-2 original-price">$ 100</h4>
                            <h1 class="m-2">${{data.price}}</h1>
                        </div>
                        <!-- add to cart button -->
                        <div class="col-12 flex justify-content-center mt-4">
                            <button class="outlined-button outlined-button-dark flex align-items-center" (click)="addToCart(data)">
                                <b>Add to Cart&nbsp;&nbsp;&nbsp;<i class="pi pi-cart-plus"></i></b>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>